<a href="https://colab.research.google.com/github/LataData/Assignments/blob/main/dsassignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<aside>
ðŸ’¡ Given three integer arrays arr1, arr2 and arr3 **sorted** in **strictly increasing** order, return a sorted array of **only** the integers that appeared in **all** three arrays.

**Example 1:**

Input: arr1 = [1,2,3,4,5], arr2 = [1,2,5,7,9], arr3 = [1,3,4,5,8]

Output: [1,5]

</aside>

In [4]:
def findcommon (a,b,c):
  result=[]
  for i in a:
    if i in b and i in c:
      result.append(i)
  return result
arr1 = [1,2,3,4,5]
arr2 = [1,2,5,7,9]
arr3 = [1,3,4,5,8]
print(findcommon(arr1,arr2,arr3))

[1, 5]

Given two **0-indexed** integer arrays nums1 and nums2, return *a list* answer *of size* 2 *where:*

- answer[0] *is a list of all **distinct** integers in* nums1 *which are **not** present in* nums2*.*
- answer[1] *is a list of all **distinct** integers in* nums2 *which are **not** present in* nums1.

**Note** that the integers in the lists may be returned in **any** order.

**Example 1:**

**Input:** nums1 = [1,2,3], nums2 = [2,4,6]

**Output:** [[1,3],[4,6]]

In [7]:
def find(nums1,nums2):
  a=[]
  b=[]
  answer=[]
  for i in nums1:
    if i not in nums2:
     a.append(i)
  for i in nums2:
    if i not in nums1:
     b.append(i)
  answer.append(a)
  answer.append(b)
  return answer
nums1 = [1,2,3]
nums2 = [2,4,6]
print(find(nums1,nums2))

[[1, 3], [4, 6]]

Given a 2D integer array matrix, return the transpose of matrix

In [15]:
def transpose(a):
  t=[[0 for _ in range(0,len(a)) ] for _ in range(0,len(a[0]))]
  for i in range(0,len(a)):
    for j in range(0,len(a[0])):
      t[i][j]=a[j][i]
  return t
a= [[1,2,3],[4,5,6],[7,8,9]]
print(transpose(a))

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

<aside>
ðŸ’¡ **Question 8**

Given the array nums consisting of 2n elements in the form [x1,x2,...,xn,y1,y2,...,yn].

*Return the array in the form* [x1,y1,x2,y2,...,xn,yn].

**Example 1:**

**Input:** nums = [2,5,1,3,4,7], n = 3

**Output:** [2,3,5,4,1,7]

</aside>

In [24]:
def pair(a,n):
  b=[]
  i=0
  j=n
  k=0
  while i<n:
    
     b.append(a[i])
    
     b.append(a[j])
     i+=1
     j+=1
  return b
nums = [2,5,1,3,4,7]
n=3
print(pair(nums,n))

[2, 3, 5, 4, 1, 7]