<a href="https://colab.research.google.com/github/LataData/Assignments/blob/main/dsassignment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given two strings s1 and s2, return *the lowest **ASCII** sum of deleted characters to make two strings equal*.

**Example 1:**

**Input:** s1 = "sea", s2 = "eat"

**Output:** 231

**Explanation:** Deleting "s" from "sea" adds the ASCII value of "s" (115) to the sum.

Deleting "t" from "eat" adds 116 to the sum.

At the end, both strings are equal, and 115 + 116 = 231 is the minimum sum possible to achieve this.

In [8]:
def charnotpresent(s1,s2):
  a=set(s1)
  b=set(s2)
  c=a.difference(b)
  d=b.difference(a)
  e=(c.union(d))
  sum=0
  for i in e:
    sum=sum+ord(i)

  return (sum)
charnotpresent('sea','eat')

231

Given a string s containing only three types of characters: '(', ')' and '*', return true *if* s *is **valid***.

The following rules define a **valid** string:

- Any left parenthesis '(' must have a corresponding right parenthesis ')'.
- Any right parenthesis ')' must have a corresponding left parenthesis '('.
- Left parenthesis '(' must go before the corresponding right parenthesis ')'.
- '*' could be treated as a single right parenthesis ')' or a single left parenthesis '(' or an empty string "".

**Example 1:**

**Input:** s = "()"

**Output:**

true

In [16]:
def threechar(s):
  count=0
  for c in s:
    if c=='(':
      count-=1
    if c==')' and count<0:
      count+=1
    if c!='(' and c!=')' and c!='*':
      return False

  if count==0:
    return True
  else:
    return False
threechar("((*)(")

False

Given two strings word1 and word2, return *the minimum number of **steps** required to make* word1 *and* word2 *the same*.

In one **step**, you can delete exactly one character in either string.

**Example 1:**

**Input:** word1 = "sea", word2 = "eat"

**Output:** 2

**Explanation:** You need one step to make "sea" to "ea" and another step to make "eat" to "ea".

In [17]:
def charnotpresent(s1,s2):#assuming chars are unique
  a=set(s1)
  b=set(s2)
  c=a.intersection(b)
  return len(c)
charnotpresent("sea","eat")

2

7.Given an encoded string, return its decoded string.

The encoding rule is: k[encoded_string], where the encoded_string inside the square brackets is being repeated exactly k times. Note that k is guaranteed to be a positive integer.

You may assume that the input string is always valid; there are no extra white spaces, square brackets are well-formed, etc. Furthermore, you may assume that the original data does not contain any digits and that digits are only for those repeat numbers, k. For example, there will not be input like 3a or 2[4].

The test cases are generated so that the length of the output will never exceed 105.

**Example 1:**

**Input:** s = "3[a]2[bc]"

**Output:** "aaabcbc"
a=97
z=122 
0  48  9-57

In [23]:
print(ord('['))

91

In [40]:
def decodedstring(s):
  
  final=[]
  i=0

  while i<len(s):
    if ord(s[i])>48 and ord(s[i])<=57:
      count=int(s[i])
      i+=2
      a=[]
      while s[i]!=']':
        #print(s[i])
        a.append(s[i])
        i+=1
      if s[i]==']':
        final.extend(count*a)
        i+=1
  #print(final)
  return final

a=(decodedstring("3[a]2[bc]"))
b="".join(a)
print(b)

aaabcbc

<aside>
ðŸ’¡ **Question 5**

Given an array of characters chars, compress it using the following algorithm:

Begin with an empty string s. For each group of **consecutive repeating characters** in chars:

- If the group's length is 1, append the character to s.
- Otherwise, append the character followed by the group's length.

The compressed string s **should not be returned separately**, but instead, be stored **in the input character array chars**.

</aside>

In [57]:
def compress(s):
  i=0
  e=[]
  while i<len(s):
    count=1
    j=i
    i+=1
    #while(i<len(s)):
    while (i<len(s) and s[i]==s[j] ):#first i<len(s) becoz it will not execute s[i]==s[j] when i>len(s) and it will prevent list index out of range error .In and logic is executed till it is false after that logics are not executed
      count+=1
      i+=1
    #s[j+1]=count
    e.append(s[j])
    e.append(count)
  return e
compress( ["a","a","b","b","c","c","c"])

['a', 2, 'b', 2, 'c', 3]